body {
	background-color:#d1d1e0;
}

@media screen and (min-width: 640px) {
#navbar {
	background-color:#3f51b5;
	position:fixed;
	top:0;
	margin-top: 0px;
	width:100%;
	color: white;
	padding: 20px;
	z-index:90;
}

#ads {
	top:0px;
	width:50%;
	float:right;
	height: 73px;
	z-index:100;
	position:relative;
	color: white;
	border-color: white;
    font-size: larger;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    padding: 10px;
}
}

@media screen and (max-width: 640px) {
#navbar {
	visibility:hidden;
	height:0;
	margin:0;
}

#ads {
	top:0px;
	width:100%;
	float:right;
	height: 73px;
	z-index:100;
	position:relative;
	color: white;
	border-color: white;
    font-size: larger;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    padding: 10px;
	background-color: #3f51b5;
}
}

#mainui {
	position:fixed;
	width:100%;
	height:100%;
}

#mainui {
	position:fixed;
	width:100%;
	height:100%;
}

#counts {
	margin: auto;
	left: 50%;
	top: 50%;
	margin-left:-40px;
	position:absolute;
}

#approach1 {
	margin: auto;
	width: 240px;
	height:80px;
	bottom:0;
	left:50%;
	position:absolute;
	margin-left:-120px;
	white-space:nowrap;
}

#straight1 {
	z-index:0;
	margin: auto;
	width:80px;
	bottom:0;
	left:50%;
	position:absolute;
	margin-left:-40px;
	margin-bottom:-5px;
}

#straight1overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	bottom:0;
	left:50%;
	position:absolute;
	margin-left:-40px;
	margin-bottom:-5px;
}

#left1 {
	z-index:0;
	margin: auto;
	width:80px;
	bottom:0;
	left:0;
	position:absolute;
	margin-left:0px;
	margin-bottom:-5px;
}

#left1overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	bottom:0;
	left:0;
	position:absolute;
	margin-left:0px;
	margin-bottom:-5px;
}

#right1 {
	z-index:0;
	margin: auto;
	width:80px;
	bottom:0;
	right:0;
	left:50%;
	position:absolute;
	margin-right:0px;
	margin-bottom:-5px;
}

#right1overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	bottom:0;
	right:0;
	left:50%;
	position:absolute;
	margin-right:0px;
	margin-bottom:-5px;
}


#approach2 {
	margin: auto;
	height: 240px;
	right:0;
	top:50%;
	position:absolute;
	margin-top:-84px;
	white-space:nowrap;
}

#straight2 {
	z-index:0;
	margin: auto;
	width:80px;
	right:0;
	top:50%;
	position:absolute;
	margin-top:-40px;
}

#left2 {
	z-index:0;
	margin: auto;
	width:80px;
	right:0px;
	bottom:0;
	position:absolute;
	margin-right:0px;
}

#right2 {
	z-index:0;
	margin: auto;
	width:80px;
	right:0;
	position:absolute;
	margin-left:0px;
}

#straight2overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	right:0;
	top:50%;
	position:absolute;
	margin-top:-40px;
}

#left2overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	right:0px;
	bottom:0;
	position:absolute;
	margin-right:0px;
}

#right2overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	right:0;
	position:absolute;
	margin-left:0px;
}

#approach3 {
	margin: auto;
	width: 240px;
	height:157px;
	top:0;
	left:50%;
	position:absolute;
	margin-left:-120px;
	white-space:nowrap;
}

#straight3 {
	z-index:0;
	margin: auto;
	width:80px;
	bottom:0;
	left:50%;
	position:absolute;
	margin-left:-40px;
}

#left3 {
	z-index:0;
	margin: auto;
	width:80px;
	bottom:0;
	right:0;
	position:absolute;
	margin-right:0px;
}

#right3 {
	z-index:0;
	margin: auto;
	width:80px;
	bottom:0;
	left:0;
	position:absolute;
	margin-left:0px;
}

#straight3overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	bottom:0;
	left:50%;
	position:absolute;
	margin-left:-40px;
}

#left3overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	bottom:0;
	right:0;
	position:absolute;
	margin-right:0px;
}

#right3overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	bottom:0;
	left:0;
	position:absolute;
	margin-left:0px;
}


#approach4 {
	margin: auto;
	height: 240px;
	left:0;
	top:50%;
	position:absolute;
	margin-top:-84px;
	white-space:nowrap;
}

#straight4 {
	z-index:0;
	margin: auto;
	width:80px;
	left:0;
	top:50%;
	position:absolute;
	margin-top:-40px;
}

#left4 {
	z-index:0;
	margin: auto;
	width:80px;
	left:0;
	position:absolute;
	margin-left:0px;
}

#right4 {
	z-index:0;
	margin: auto;
	width:80px;
	left:0px;
	bottom:0;
	position:absolute;
	margin-left:0px;
}

#straight4overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	left:0;
	top:50%;
	position:absolute;
	margin-top:-40px;
}

#left4overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	left:0;
	position:absolute;
	margin-left:0px;
}

#right4overlay {
	z-index:9;
	margin: auto;
	width:80px;
	height:80px;
	left:0px;
	bottom:0;
	position:absolute;
	margin-left:0px;
}


